<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand ml-5" routerLinkActive="router-link-active"
    ><img
      src="../../../../assets/images/logoklugit-chico.png"
      alt="Logo klugit"
      height="30px"
  /></a>
  <!-- (click)="onHome()" -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto ml-5">
      <li class="nav-item ml-3">
        <!-- <a
          class="nav-link"
          routerLink="/empresa/empresa"
          routerLinkActive="active"
          ><strong>SERVICE</strong></a
        >
      </li> -->
      </li>

      <li class="nav-item ml-3">
        <a class="nav-link" routerLinkActive="active"
          ><strong>SERVICE</strong></a
        >
      </li>
      <!-- <li class="nav-item ml-3">
        <a
          class="nav-link"
          routerLink="/empresa/tablePost"
          routerLinkActive="active"
          ><strong>DESK</strong></a
        >
      </li> -->
      <li class="nav-item ml-3">
        <a class="nav-link" routerLinkActive="active"><strong>DESK</strong></a>
      </li>
    </ul>
  </div>
</nav>
