<!-- header -->
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand ml-5" routerLinkActive="router-link-active"
    ><img
      src="../../../../assets/images/logoklugit-chico.png"
      alt="Logo klugit"
      height="30px"
  /></a>
  <!-- (click)="onHome()" -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto ml-5">
      <li class="nav-item ml-3">
        <!-- <a
          class="nav-link"
          routerLink="/empresa/empresa"
          routerLinkActive="active"
          ><strong>SERVICE</strong></a
        >
      </li> -->
      </li>

      <li class="nav-item ml-3">
        <a class="nav-link" routerLinkActive="active"
          ><strong>SERVICE</strong></a
        >
      </li>
      <!-- <li class="nav-item ml-3">
        <a
          class="nav-link"
          routerLink="/empresa/tablePost"
          routerLinkActive="active"
          ><strong>DESK</strong></a
        >
      </li> -->
      <li class="nav-item ml-3">
        <a class="nav-link" routerLinkActive="active"><strong>DESK</strong></a>
      </li>
    </ul>
  </div>
</nav>
<!-- /header -->

<section id="hero">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="content mx-auto">
        <h1 class="text-success text-center">DMS - NST - klugIT</h1>
        <p>
          <strong>KlugIT</strong> es una plataforma versátil que brinda
          visibilidad, gestión, integración y reporteo de la infraestructura y
          los servicios digitales que habilitan los procesos de negocio.
        </p>
        <h4 class="text-success text-center">Prueba la version móvil</h4>
      </div>
      <div>
        <div>
          <img
            src="../../../../assets/images/apple-seeklogo.com.svg"
            alt="logo Apple"
          />
        </div>
        <div>
          <img
            src="../../../../assets/images/google-play-store-seeklogo.com-1.svg"
            alt="logo Play store"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="content mx-auto"></div>
    </div>
  </div>
</section>
