<section id="hero" class="container" id="hero">
  <div class="row">
    <div class="col-lg-6 col-md-12 d-flex mb-5">
      <div class="mx-auto my-auto px-2 d-block">
        <h1 class="d-block text-center" style="color: #5db7cc">
          DMS - NST - klugIT
        </h1>
        <p>
          <strong>KlugIT</strong> es una plataforma versátil que brinda
          visibilidad, gestión, integración y reporteo de la infraestructura y
          los servicios digitales que habilitan los procesos de negocio.
        </p>
        <h4 class="text-center mb-5" style="color: #c4d600">
          Prueba la version móvil
        </h4>
        <div class="d-flex justify-content-center">
          <div class="d-flex me-4">
            <img
              src="../../../../assets/images/tiendas/google-play.svg"
              alt="logo Play store"
              width="50px"
              class="me-3"
            />
            <div>
              <small>Consiguela en:</small>
              <p class="fw-bold mb-0">Play Store</p>
            </div>
          </div>
          <div class="d-flex">
            <img
              src="../../../../assets/images/tiendas/apple.svg"
              alt="logo Apple"
              width="50px"
              class="me-3"
            />
            <div>
              <small>Disponible en:</small>
              <p class="fw-bold mb-0">App Store</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 d-flex mt-5">
      <div class="mx-auto my-auto px-2 d-block">
        <div class="card p-4">
          <h5 class="card-title text-center mb-5">Login</h5>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Correo<span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="nombre@ejemplo.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlPassword" class="form-label"
              >Contraseña<span class="text-danger">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="exampleFormControlPassword"
              rows="3"
            />
          </div>
          <a
            href="#"
            class="btn btn-primary mb-2"
            style="background: #c4d600; border: none"
            >ENTRAR A KLUGIT</a
          >
          <a
            href="#"
            class="btn btn-primary"
            style="background: #5db7cc; border: none"
            >LEVANTAR SOLICITUD</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
