<!-- Footer -->

<footer class="footer page-footer bg-light font-small pt-4 mt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row justify-content-between mb-4">
      <!-- Grid column -->
      <div class="col-md-3 col-sm-6 col-12">
        <!-- Links -->
        <h5 class="text-uppercase"><small>Términos y condiciones</small></h5>

        <!-- <ul class="list-unstyled text-uppercase">
          <li>
            <a href="#!">Encuentra</a>
          </li>
          <li>
            <a href="#!">Aparta</a>
          </li>
          <li>
            <a href="#!">¿Necesitas algo?</a>
          </li>
          <li>
            <a href="#!">Registrate</a>
          </li>
        </ul> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-sm-6 col-12">
        <!-- Links -->
        <h5 class="text-uppercase"><small>Aviso de privacidad</small></h5>
        <!-- 
        <ul class="list-unstyled text-uppercase">
          <li>
            <a href="#!">Opciones de pagos</a>
          </li>
          <li>
            <a href="#!">Contactanos</a>
          </li>
          <li>
            <a href="#!">Dar de baja mi usuario</a>
          </li>
        </ul> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-sm-6 col-12">
        <!-- Links -->
        <h5 class="text-uppercase"><small>Soporte técnico</small></h5>

        <!-- <ul class="list-unstyled text-uppercase">
          <li>
            <a href="#!">Noticias</a>
          </li>
          <li>
            <a href="#!">Conviertete en socio</a>
          </li>
          <li>
            <a href="#!">Patrocinadores</a>
          </li>
        </ul> -->
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column -->
      <div class="col-md-3 col-sm-6 col-12">
        <!-- Content -->
        <h5 class="text-uppercase"><small>Redes sociales</small></h5>
        <a class="social-link twitter" href="#!" target="_blank"></a>
        <a class="social-link facebook" href="#!" target="_blank"></a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
